:root {
    --sqr: 120px;
    --gap: 8px;
    --width: calc(3 * var(--sqr) + 2 * var(--gap) + 6px);
}


body {
    font-family: 'Red hat mono', sans-serif;
    width: fit-content;
    margin: auto;
}

h1 {
    font-family: 'Unica one', 'Red hat mono', sans-serif;
    font-size: 1.8rem;
}

#functions {
    display: flex;
    justify-content: space-between;
}

button {
    align-self: center;
    font-family: 'Red hat mono', sans-serif;
    padding: 8px 12px;
}

#game {
    width: var(--width);
    border: 1px solid darkgray;
    padding: 4vw;
}

#game p { margin-top: 0; }

#grid {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    width: var(--width);
    height: var(--width);
}

.sqr {
    width: var(--sqr);
    height: var(--sqr);
    border: 1px solid darkgray;
    border-radius: 50%;
}

.mole {
    background-image: url('mole.jpg');
    background-size: cover;
}

.large-font {
    font-size: 2rem;
}